$primaryColor: chocolate;
$seconddaryColor: dimgray;

html {
  font-family: "Prompt", sans-serif;
}

h1 {
  color: $primaryColor;
}

.contsiner {
  &__subtitle {
    color: $seconddaryColor;
    display: block;
    height: 140px;
    background: url("../images/gradient-beautiful-background.jpg");
  }
}